
.mainTable{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inpfield{
    margin-right: 10px;
    text-align: center;
    width: 150px;
}
.p-button-outlined{
padding:5px;
margin-right: 10px;
border: 1px solid blue;
border-radius: 5px;
color: blue;
font-weight: bold;
}